# Arquivos compilados do Delphi
*.exe
*.dll
*.dcu
*.map
*.drc

# Arquivos temporários
*.~*
*.identcache
*.local
*.ddp
*.dsk
*.stat

# Arquivos locais do projeto Delphi
*.dproj.local
*.tvsconfig

# Histórico do Delphi
__history/

# Pastas de compilação
Win32/
Win64/
Debug/
Release/

# Dados locais da aplicação
data/*.json
!data/.gitkeep